In [59]:
import pandas as pd
import numpy as np
import sklearn
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm

# Adjusting the Parent Data

In [60]:
startup = pd.read_csv("startup.csv")
startup.head()

,Unnamed: 0,state_code,latitude,longitude,zip_code,id,city,Unnamed: 6,name,labels,...,object_id,has_VC,has_angel,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500,status
0,1005,CA,42.358880,-71.056820,92101,c:6669,San Diego,NaN,Bandsintown,1,...,c:6669,0,1,0,0,0,0,1.0000,0,acquired
1,204,CA,37.238916,-121.973718,95032,c:16283,Los Gatos,NaN,TriCipher,1,...,c:16283,1,0,0,1,1,1,4.7500,1,acquired
2,1001,CA,32.901049,-117.192656,92121,c:65620,San Diego,San Diego CA 92121,Plixi,1,...,c:65620,0,0,1,0,0,0,4.0000,1,acquired
3,738,CA,37.320309,-122.050040,95014,c:42668,Cupertino,Cupertino CA 95014,Solidcore Systems,1,...,c:42668,0,0,0,1,1,1,3.3333,1,acquired
4,1002,CA,37.779281,-122.419236,94105,c:65806,San Francisco,San Francisco CA 94105,Inhale Digital,0,...,c:65806,1,1,0,0,0,0,1.0000,1,closed

In [61]:
# Dropping based on EDA
startup.drop(columns = ["has_roundA", "has_roundB", "has_roundC", "has_roundD", "is_CA", "is_NY", "is_MA", "is_TX", "is_otherstate", "has_VC", "has_angel"], inplace=True)
startup.head()

,Unnamed: 0,state_code,latitude,longitude,zip_code,id,city,Unnamed: 6,name,labels,...,is_advertising,is_gamesvideo,is_ecommerce,is_biotech,is_consulting,is_othercategory,object_id,avg_participants,is_top500,status
0,1005,CA,42.358880,-71.056820,92101,c:6669,San Diego,NaN,Bandsintown,1,...,0,0,0,0,0,1,c:6669,1.0000,0,acquired
1,204,CA,37.238916,-121.973718,95032,c:16283,Los Gatos,NaN,TriCipher,1,...,0,0,0,0,0,0,c:16283,4.7500,1,acquired
2,1001,CA,32.901049,-117.192656,92121,c:65620,San Diego,San Diego CA 92121,Plixi,1,...,0,0,0,0,0,0,c:65620,4.0000,1,acquired
3,738,CA,37.320309,-122.050040,95014,c:42668,Cupertino,Cupertino CA 95014,Solidcore Systems,1,...,0,0,0,0,0,0,c:42668,3.3333,1,acquired
4,1002,CA,37.779281,-122.419236,94105,c:65806,San Francisco,San Francisco CA 94105,Inhale Digital,0,...,0,1,0,0,0,0,c:65806,1.0000,1,closed

In [62]:
startup.columns

Index(['Unnamed: 0', 'state_code', 'latitude', 'longitude', 'zip_code', 'id',
       'city', 'Unnamed: 6', 'name', 'labels', 'founded_at', 'closed_at',
       'first_funding_at', 'last_funding_at', 'age_first_funding_year',
       'age_last_funding_year', 'age_first_milestone_year',
       'age_last_milestone_year', 'relationships', 'funding_rounds',
       'funding_total_usd', 'milestones', 'state_code.1', 'category_code',
       'is_software', 'is_web', 'is_mobile', 'is_enterprise', 'is_advertising',
       'is_gamesvideo', 'is_ecommerce', 'is_biotech', 'is_consulting',
       'is_othercategory', 'object_id', 'avg_participants', 'is_top500',
       'status'],
      dtype='object')

In [63]:
len(startup.columns)

38

# I suspect that "is_other_category" and "age_..." variables are all engineered features.

In [64]:
len(startup.columns)

38

# Looking at Cleaned Crunchbase Data (Kaggle)

In [65]:
cb_kaggle = pd.read_csv("objects1.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'objects1.csv'

In [66]:
cb_kaggle.head()

,id,entity_type,entity_id,parent_id,name,normalized_name,permalink,category_code,status,founded_at,...,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,created_by,created_at,updated_at,category_code1
0,c:1,Company,1,NaN,Wetpaint,wetpaint,/company/wetpaint,web,operating,2005-10-17,...,3,39750000.0,2010-09-05,2013-09-18,5,17,initial-importer,2007-05-25 06:51:27,2013-04-13 03:29:00,web
1,c:10,Company,10,NaN,Flektor,flektor,/company/flektor,games_video,acquired,NaN,...,0,0.0,NaN,NaN,0,6,initial-importer,2007-05-31 21:11:51,2008-05-23 23:23:14,games_video
2,c:100,Company,100,NaN,There,there,/company/there,games_video,acquired,NaN,...,0,0.0,2003-02-01,2011-09-23,4,12,initial-importer,2007-08-06 23:52:45,2013-11-04 02:09:48,games_video
3,c:10000,Company,10000,NaN,MYWEBBO,mywebbo,/company/mywebbo,network_hosting,operating,2008-07-26,...,0,0.0,NaN,NaN,0,0,NaN,2008-08-24 16:51:57,2008-09-06 14:19:18,network_hosting
4,c:10001,Company,10001,NaN,THE Movie Streamer,the movie streamer,/company/the-movie-streamer,games_video,operating,2008-07-26,...,0,0.0,NaN,NaN,0,0,NaN,2008-08-24 17:10:34,2008-09-06 14:19:18,games_video

In [67]:
cb_kaggle.isna().sum()

id                          0
entity_type                 0
entity_id                   0
parent_id              434936
name                        2
normalized_name            31
permalink                   0
category_code          339465
status                      0
founded_at             362210
closed_at              459842
domain                 287709
homepage_url           287709
twitter_username       336562
logo_url               253801
logo_width                  0
logo_height                 0
short_description      455034
description            367646
overview               227416
tag_list               356155
country_code           367608
state_code             407891
city                   371967
region                      0
first_investment_at    445695
last_investment_at     445695
investment_rounds           0
invested_companies          0
first_funding_at       431144
last_funding_at        431144
funding_rounds              0
funding_total_usd           0
first_milestone_at     362293
last_milestone_at      362293
milestones                  0
relationships               0
created_by             123165
created_at                 60
updated_at                  0
category_code1         339465
dtype: int64

In [68]:
cb_kaggle.shape

(462651, 41)

In [69]:
cb_kaggle.columns

Index(['id', 'entity_type', 'entity_id', 'parent_id', 'name',
       'normalized_name', 'permalink', 'category_code', 'status', 'founded_at',
       'closed_at', 'domain', 'homepage_url', 'twitter_username', 'logo_url',
       'logo_width', 'logo_height', 'short_description', 'description',
       'overview', 'tag_list', 'country_code', 'state_code', 'city', 'region',
       'first_investment_at', 'last_investment_at', 'investment_rounds',
       'invested_companies', 'first_funding_at', 'last_funding_at',
       'funding_rounds', 'funding_total_usd', 'first_milestone_at',
       'last_milestone_at', 'milestones', 'relationships', 'created_by',
       'created_at', 'updated_at', 'category_code1'],
      dtype='object')

In [70]:
parent_col = ["name", "state_code", "city", "founded_at", "closed_at", "first_funding_at", "last_funding_at", "relationships", "funding_rounds", "funding_total_usd", "milestones", "category_code", "status"]
cb_kaggle[parent_col]

,name,state_code,city,founded_at,closed_at,first_funding_at,last_funding_at,relationships,funding_rounds,funding_total_usd,milestones,category_code,status
0,Wetpaint,WA,Seattle,2005-10-17,NaN,2005-10-01,2008-05-19,17,3,39750000.0,5,web,operating
1,Flektor,CA,Culver City,NaN,NaN,NaN,NaN,6,0,0.0,0,games_video,acquired
2,There,CA,San Mateo,NaN,NaN,NaN,NaN,12,0,0.0,4,games_video,acquired
3,MYWEBBO,NaN,NaN,2008-07-26,NaN,NaN,NaN,0,0,0.0,0,network_hosting,operating
4,THE Movie Streamer,NaN,NaN,2008-07-26,NaN,NaN,NaN,0,0,0.0,0,games_video,operating
...,...,...,...,...,...,...,...,...,...,...,...,...,...
462646,"SiteLink, listing feed for Brokerages",NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0,NaN,operating
462647,"EDCLink, listing feed for Economic Development...",NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0,NaN,operating
462648,"Cmail, broadcast email marketing",NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0,NaN,operating
462649,"CatylistCRM, contact database",NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0,NaN,operating
462650,Catylist Custom Print/Web Design,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0,NaN,operating

In [71]:
cb_kaggle["category_code1"] = cb_kaggle["category_code"]
cb_kaggle_dum = pd.get_dummies(cb_kaggle, columns = ["category_code1"], prefix = "is")
cb_kaggle_dum

,id,entity_type,entity_id,parent_id,name,normalized_name,permalink,category_code,status,founded_at,...,is_real_estate,is_search,is_security,is_semiconductor,is_social,is_software,is_sports,is_transportation,is_travel,is_web
0,c:1,Company,1,NaN,Wetpaint,wetpaint,/company/wetpaint,web,operating,2005-10-17,...,0,0,0,0,0,0,0,0,0,1
1,c:10,Company,10,NaN,Flektor,flektor,/company/flektor,games_video,acquired,NaN,...,0,0,0,0,0,0,0,0,0,0
2,c:100,Company,100,NaN,There,there,/company/there,games_video,acquired,NaN,...,0,0,0,0,0,0,0,0,0,0
3,c:10000,Company,10000,NaN,MYWEBBO,mywebbo,/company/mywebbo,network_hosting,operating,2008-07-26,...,0,0,0,0,0,0,0,0,0,0
4,c:10001,Company,10001,NaN,THE Movie Streamer,the movie streamer,/company/the-movie-streamer,games_video,operating,2008-07-26,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462646,r:9995,Product,9995,c:14164,"SiteLink, listing feed for Brokerages",sitelink listing feed for brokerages,/product/sitelink-listing-feed-for-brokerages,NaN,operating,NaN,...,0,0,0,0,0,0,0,0,0,0
462647,r:9996,Product,9996,c:14164,"EDCLink, listing feed for Economic Development...",edclink listing feed for economic development ...,/product/edclink-listing-feed-for-economic-dev...,NaN,operating,NaN,...,0,0,0,0,0,0,0,0,0,0
462648,r:9997,Product,9997,c:14164,"Cmail, broadcast email marketing",cmail broadcast email marketing,/product/cmail-broadcast-email-marketing,NaN,operating,NaN,...,0,0,0,0,0,0,0,0,0,0
462649,r:9998,Product,9998,c:14164,"CatylistCRM, contact database",catylistcrm contact database,/product/catylistcrm-contact-database,NaN,operating,NaN,...,0,0,0,0,0,0,0,0,0,0
462650,r:9999,Product,9999,c:14164,Catylist Custom Print/Web Design,catylist custom print web design,/product/catylist-custom-print-web-design,NaN,operating,NaN,...,0,0,0,0,0,0,0,0,0,0

In [72]:
parent_col.extend(['is_software', 'is_web', 'is_mobile', 'is_enterprise', 'is_advertising',
       'is_games_video', 'is_ecommerce', 'is_biotech', 'is_consulting'])

cb_kaggle1 = cb_kaggle_dum[parent_col]
cb_kaggle1

,name,state_code,city,founded_at,closed_at,first_funding_at,last_funding_at,relationships,funding_rounds,funding_total_usd,...,status,is_software,is_web,is_mobile,is_enterprise,is_advertising,is_games_video,is_ecommerce,is_biotech,is_consulting
0,Wetpaint,WA,Seattle,2005-10-17,NaN,2005-10-01,2008-05-19,17,3,39750000.0,...,operating,0,1,0,0,0,0,0,0,0
1,Flektor,CA,Culver City,NaN,NaN,NaN,NaN,6,0,0.0,...,acquired,0,0,0,0,0,1,0,0,0
2,There,CA,San Mateo,NaN,NaN,NaN,NaN,12,0,0.0,...,acquired,0,0,0,0,0,1,0,0,0
3,MYWEBBO,NaN,NaN,2008-07-26,NaN,NaN,NaN,0,0,0.0,...,operating,0,0,0,0,0,0,0,0,0
4,THE Movie Streamer,NaN,NaN,2008-07-26,NaN,NaN,NaN,0,0,0.0,...,operating,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462646,"SiteLink, listing feed for Brokerages",NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,...,operating,0,0,0,0,0,0,0,0,0
462647,"EDCLink, listing feed for Economic Development...",NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,...,operating,0,0,0,0,0,0,0,0,0
462648,"Cmail, broadcast email marketing",NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,...,operating,0,0,0,0,0,0,0,0,0
462649,"CatylistCRM, contact database",NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,...,operating,0,0,0,0,0,0,0,0,0
462650,Catylist Custom Print/Web Design,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,...,operating,0,0,0,0,0,0,0,0,0

In [73]:
cat_list = ['software', 'web', 'mobile', 'enterprise', 'advertising',
       'games_video', 'ecommerce', 'biotech', 'consulting']

## Creating is_other_category feature

In [74]:
cb_kaggle1["is_other_category"] = (~cb_kaggle1["category_code"].isin(cat_list)) *1

cb_kaggle1

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,name,state_code,city,founded_at,closed_at,first_funding_at,last_funding_at,relationships,funding_rounds,funding_total_usd,...,is_software,is_web,is_mobile,is_enterprise,is_advertising,is_games_video,is_ecommerce,is_biotech,is_consulting,is_other_category
0,Wetpaint,WA,Seattle,2005-10-17,NaN,2005-10-01,2008-05-19,17,3,39750000.0,...,0,1,0,0,0,0,0,0,0,0
1,Flektor,CA,Culver City,NaN,NaN,NaN,NaN,6,0,0.0,...,0,0,0,0,0,1,0,0,0,0
2,There,CA,San Mateo,NaN,NaN,NaN,NaN,12,0,0.0,...,0,0,0,0,0,1,0,0,0,0
3,MYWEBBO,NaN,NaN,2008-07-26,NaN,NaN,NaN,0,0,0.0,...,0,0,0,0,0,0,0,0,0,1
4,THE Movie Streamer,NaN,NaN,2008-07-26,NaN,NaN,NaN,0,0,0.0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462646,"SiteLink, listing feed for Brokerages",NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,...,0,0,0,0,0,0,0,0,0,1
462647,"EDCLink, listing feed for Economic Development...",NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,...,0,0,0,0,0,0,0,0,0,1
462648,"Cmail, broadcast email marketing",NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,...,0,0,0,0,0,0,0,0,0,1
462649,"CatylistCRM, contact database",NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,...,0,0,0,0,0,0,0,0,0,1
462650,Catylist Custom Print/Web Design,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,...,0,0,0,0,0,0,0,0,0,1

In [75]:
cb_kaggle1.isna().sum()

name                      2
state_code           407891
city                 371967
founded_at           362210
closed_at            459842
first_funding_at     431144
last_funding_at      431144
relationships             0
funding_rounds            0
funding_total_usd         0
milestones                0
category_code        339465
status                    0
is_software               0
is_web                    0
is_mobile                 0
is_enterprise             0
is_advertising            0
is_games_video            0
is_ecommerce              0
is_biotech                0
is_consulting             0
is_other_category         0
dtype: int64

In [76]:
cb_kaggle1.head()

,name,state_code,city,founded_at,closed_at,first_funding_at,last_funding_at,relationships,funding_rounds,funding_total_usd,...,is_software,is_web,is_mobile,is_enterprise,is_advertising,is_games_video,is_ecommerce,is_biotech,is_consulting,is_other_category
0,Wetpaint,WA,Seattle,2005-10-17,NaN,2005-10-01,2008-05-19,17,3,39750000.0,...,0,1,0,0,0,0,0,0,0,0
1,Flektor,CA,Culver City,NaN,NaN,NaN,NaN,6,0,0.0,...,0,0,0,0,0,1,0,0,0,0
2,There,CA,San Mateo,NaN,NaN,NaN,NaN,12,0,0.0,...,0,0,0,0,0,1,0,0,0,0
3,MYWEBBO,NaN,NaN,2008-07-26,NaN,NaN,NaN,0,0,0.0,...,0,0,0,0,0,0,0,0,0,1
4,THE Movie Streamer,NaN,NaN,2008-07-26,NaN,NaN,NaN,0,0,0.0,...,0,0,0,0,0,1,0,0,0,0

In [77]:
cb_kaggle1.dropna(axis=0).shape

(862, 23)

# Looking at Raw Crunchbase Data

In [78]:
cb_companies = pd.read_csv("crunchbase-companies.csv", encoding = "latin")
cb_companies.head()

,permalink,name,category_code,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,founded_month,founded_quarter,founded_year,first_funding_at,last_funding_at,last_milestone_at
0,/company/waywire,#waywire,news,1750000,operating,USA,NY,New York,New York,1,2012-06-01,2012-06,2012-Q2,2012.0,2012-06-30,2012-06-30,2013-09-06
1,/company/n-plusn,#NAME?,software,600000,operating,USA,NY,New York,New York,1,2012-01-01,2012-01,2012-Q1,2012.0,2012-08-29,2012-08-29,NaN
2,/company/club-domains,.Club Domains,software,7000000,operating,USA,FL,Fort Lauderdale,Oakland Park,1,2011-10-10,2011-10,2011-Q4,2011.0,2013-05-31,2013-05-31,NaN
3,/company/0xdata,0xdata,analytics,1700000,operating,USA,CA,SF Bay,Mountain View,1,NaN,NaN,NaN,NaN,2013-01-03,2013-01-03,2012-01-01
4,/company/1-800-dentist,1-800-DENTIST,health,NaN,operating,USA,CA,Los Angeles,Los Angeles,1,1986-01-01,1986-01,1986-Q1,1986.0,2010-08-19,2010-08-19,2010-08-19

In [79]:
cb_companies.columns

Index(['permalink', 'name', 'category_code', 'funding_total_usd', 'status',
       'country_code', 'state_code', 'region', 'city', 'funding_rounds',
       'founded_at', 'founded_month', 'founded_quarter', 'founded_year',
       'first_funding_at', 'last_funding_at', 'last_milestone_at'],
      dtype='object')

In [80]:
cb_companies = cb_companies.set_index("permalink")

In [81]:
cb_investments = pd.read_csv("crunchbase-investments.csv", encoding = "latin")
cb_investments.rename(columns = {"company_permalink": "permalink"}, inplace=True)
cb_investments = cb_investments.set_index("permalink")
cb_investments.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,company_name,company_category_code,company_country_code,company_state_code,company_region,company_city,investor_permalink,investor_name,investor_category_code,investor_country_code,investor_state_code,investor_region,investor_city,funding_round_type,funded_at,funded_month,funded_quarter,funded_year,raised_amount_usd
permalink,,,,,,,,,,,,,,,,,,,
/company/advercar,AdverCar,advertising,USA,CA,SF Bay,San Francisco,/company/1-800-flowers-com,1-800-FLOWERS.COM,NaN,USA,NY,New York,New York,series-a,2012-10-30,2012-10,2012-Q4,2012.0,2000000.0
/company/launchgram,LaunchGram,news,USA,CA,SF Bay,Mountain View,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,other,2012-01-23,2012-01,2012-Q1,2012.0,20000.0
/company/utap,uTaP,messaging,USA,NaN,United States - Other,NaN,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,other,2012-01-01,2012-01,2012-Q1,2012.0,20000.0
/company/zoopshop,ZoopShop,software,USA,OH,Columbus,columbus,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,angel,2012-02-15,2012-02,2012-Q1,2012.0,20000.0
/company/efuneral,eFuneral,web,USA,OH,Cleveland,Cleveland,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,other,2011-09-08,2011-09,2011-Q3,2011.0,20000.0

# Note that a company can get investments multiple times throughout its lifetime
- There will be duplicate entries, not sure how to deal with it yet

In [82]:
# Check overlap size
len(list(set(cb_investments.index)&set(cb_companies.index)))

11572

In [83]:
cb_investments.shape, cb_companies.shape

((52870, 19), (17727, 16))

In [84]:
cb_companies.join(cb_investments, how = "outer")

,name,category_code,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,...,investor_country_code,investor_state_code,investor_region,investor_city,funding_round_type,funded_at,funded_month,funded_quarter,funded_year,raised_amount_usd
permalink,,,,,,,,,,,,,,,,,,,,,
/company/0xdata,0xdata,analytics,1700000,operating,USA,CA,SF Bay,Mountain View,1.0,NaN,...,IND,NaN,Mumbai,Mumbai,venture,2013-01-03,2013-01,2013-Q1,2013.0,1700000.0
/company/1,One Inc.,mobile,1000050,operating,USA,CA,SF Bay,San Francisco,1.0,2011-08-01,...,USA,MA,Boston,Cambridge,angel,2011-07-20,2011-07,2011-Q3,2011.0,1000050.0
/company/1,One Inc.,mobile,1000050,operating,USA,CA,SF Bay,San Francisco,1.0,2011-08-01,...,USA,NY,unknown,Cambridge,angel,2011-07-20,2011-07,2011-Q3,2011.0,1000050.0
/company/1,One Inc.,mobile,1000050,operating,USA,CA,SF Bay,San Francisco,1.0,2011-08-01,...,USA,CA,SF Bay,San Francisco,angel,2011-07-20,2011-07,2011-Q3,2011.0,1000050.0
/company/1,One Inc.,mobile,1000050,operating,USA,CA,SF Bay,San Francisco,1.0,2011-08-01,...,USA,CA,SF Bay,Palo Alto,angel,2011-07-20,2011-07,2011-Q3,2011.0,1000050.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
/company/zyomyx-inc,ZYOMYX,biotech,26219999,operating,USA,NaN,SF Bay,Fremont,2.0,NaN,...,USA,NaN,Pittsburg,Canonsburg,series-b,2013-06-30,2013-06,2013-Q2,2013.0,12000000.0
/company/zypsee,Zypsee,transportation,1400000,operating,USA,CT,New York,Stamford,1.0,2011-01-01,...,USA,NY,New York,New York,angel,2013-08-13,2013-08,2013-Q3,2013.0,1400000.0
/company/zyrra,Zyrra,ecommerce,1460500,operating,USA,MA,Boston,Cambridge,3.0,NaN,...,USA,MA,Boston,Boston,angel,2010-11-15,2010-11,2010-Q4,2010.0,445000.0
57 Woodstock Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
cb_main = pd.merge(cb_companies, cb_investments, left_index = True, right_index = True)
cb_main.head()

,name,category_code,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,...,investor_country_code,investor_state_code,investor_region,investor_city,funding_round_type,funded_at,funded_month,funded_quarter,funded_year,raised_amount_usd
permalink,,,,,,,,,,,,,,,,,,,,,
/company/0xdata,0xdata,analytics,1700000,operating,USA,CA,SF Bay,Mountain View,1,NaN,...,IND,NaN,Mumbai,Mumbai,venture,2013-01-03,2013-01,2013-Q1,2013.0,1700000.0
/company/1,One Inc.,mobile,1000050,operating,USA,CA,SF Bay,San Francisco,1,2011-08-01,...,USA,MA,Boston,Cambridge,angel,2011-07-20,2011-07,2011-Q3,2011.0,1000050.0
/company/1,One Inc.,mobile,1000050,operating,USA,CA,SF Bay,San Francisco,1,2011-08-01,...,USA,NY,unknown,Cambridge,angel,2011-07-20,2011-07,2011-Q3,2011.0,1000050.0
/company/1,One Inc.,mobile,1000050,operating,USA,CA,SF Bay,San Francisco,1,2011-08-01,...,USA,CA,SF Bay,San Francisco,angel,2011-07-20,2011-07,2011-Q3,2011.0,1000050.0
/company/1,One Inc.,mobile,1000050,operating,USA,CA,SF Bay,San Francisco,1,2011-08-01,...,USA,CA,SF Bay,Palo Alto,angel,2011-07-20,2011-07,2011-Q3,2011.0,1000050.0

In [86]:
cb_main.isna().sum()

name                          0
category_code               642
funding_total_usd          2088
status                        0
country_code                  0
state_code                  491
region                        0
city                        532
funding_rounds                0
founded_at                 7644
founded_month              7644
founded_quarter            7644
founded_year               7644
first_funding_at              0
last_funding_at               0
last_milestone_at         10143
company_name                  0
company_category_code       642
company_country_code          0
company_state_code          491
company_region                0
company_city                532
investor_permalink            0
investor_name                 0
investor_category_code    50425
investor_country_code     11999
investor_state_code       16807
investor_region               0
investor_city             12478
funding_round_type            1
funded_at                     1
funded_month                  1
funded_quarter                1
funded_year                   1
raised_amount_usd          3597
dtype: int64

In [87]:
cb_main.shape

(52868, 35)

In [90]:
parent_col = ["name", "state_code", "city", "founded_at", "closed_at", "first_funding_at", "last_funding_at", "relationships", "funding_rounds", "funding_total_usd", "milestones", "category_code", "status"]

In [91]:
cb_main[parent_col]

KeyError: "['closed_at', 'relationships', 'milestones'] not in index"

closed_at is a redundant variable to include in a model. If a company has a closed_at date, it has obviously already failed.

relationships and milestones might have to be dropped just to reach a compromise for data merging purposes

In [92]:
unwanted_features = ["closed_at", "relationships", "milestones"]
parent_col2 = [x for x in parent_col if x not in unwanted_features]
parent_col2

['name',
 'state_code',
 'city',
 'founded_at',
 'first_funding_at',
 'last_funding_at',
 'funding_rounds',
 'funding_total_usd',
 'category_code',
 'status']

In [93]:
cb_main[parent_col2]

,name,state_code,city,founded_at,first_funding_at,last_funding_at,funding_rounds,funding_total_usd,category_code,status
permalink,,,,,,,,,,
/company/0xdata,0xdata,CA,Mountain View,NaN,2013-01-03,2013-01-03,1,1700000,analytics,operating
/company/1,One Inc.,CA,San Francisco,2011-08-01,2011-07-20,2011-07-20,1,1000050,mobile,operating
/company/1,One Inc.,CA,San Francisco,2011-08-01,2011-07-20,2011-07-20,1,1000050,mobile,operating
/company/1,One Inc.,CA,San Francisco,2011-08-01,2011-07-20,2011-07-20,1,1000050,mobile,operating
/company/1,One Inc.,CA,San Francisco,2011-08-01,2011-07-20,2011-07-20,1,1000050,mobile,operating
...,...,...,...,...,...,...,...,...,...,...
/company/zyngenia,Zyngenia,MD,Gaithersburg,2008-01-01,2010-09-09,2010-09-09,1,25000000,biotech,operating
/company/zyomyx-inc,ZYOMYX,NaN,Fremont,NaN,2013-06-30,2013-07-11,2,26219999,biotech,operating
/company/zyomyx-inc,ZYOMYX,NaN,Fremont,NaN,2013-06-30,2013-07-11,2,26219999,biotech,operating
/company/zypsee,Zypsee,CT,Stamford,2011-01-01,2013-08-13,2013-08-13,1,1400000,transportation,operating
/company/zyrra,Zyrra,MA,Cambridge,NaN,2010-11-15,2012-10-18,3,1460500,ecommerce,operating

In [94]:
cb_main["category_code1"] = cb_main["category_code"]
cb_main_dum = pd.get_dummies(cb_main, columns = ["category_code1"], prefix = "is")
cb_main_dum

,name,category_code,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,...,is_real_estate,is_search,is_security,is_semiconductor,is_social,is_software,is_sports,is_transportation,is_travel,is_web
permalink,,,,,,,,,,,,,,,,,,,,,
/company/0xdata,0xdata,analytics,1700000,operating,USA,CA,SF Bay,Mountain View,1,NaN,...,0,0,0,0,0,0,0,0,0,0
/company/1,One Inc.,mobile,1000050,operating,USA,CA,SF Bay,San Francisco,1,2011-08-01,...,0,0,0,0,0,0,0,0,0,0
/company/1,One Inc.,mobile,1000050,operating,USA,CA,SF Bay,San Francisco,1,2011-08-01,...,0,0,0,0,0,0,0,0,0,0
/company/1,One Inc.,mobile,1000050,operating,USA,CA,SF Bay,San Francisco,1,2011-08-01,...,0,0,0,0,0,0,0,0,0,0
/company/1,One Inc.,mobile,1000050,operating,USA,CA,SF Bay,San Francisco,1,2011-08-01,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
/company/zyngenia,Zyngenia,biotech,25000000,operating,USA,MD,Washington DC,Gaithersburg,1,2008-01-01,...,0,0,0,0,0,0,0,0,0,0
/company/zyomyx-inc,ZYOMYX,biotech,26219999,operating,USA,NaN,SF Bay,Fremont,2,NaN,...,0,0,0,0,0,0,0,0,0,0
/company/zyomyx-inc,ZYOMYX,biotech,26219999,operating,USA,NaN,SF Bay,Fremont,2,NaN,...,0,0,0,0,0,0,0,0,0,0
/company/zypsee,Zypsee,transportation,1400000,operating,USA,CT,New York,Stamford,1,2011-01-01,...,0,0,0,0,0,0,0,1,0,0
/company/zyrra,Zyrra,ecommerce,1460500,operating,USA,MA,Boston,Cambridge,3,NaN,...,0,0,0,0,0,0,0,0,0,0

In [95]:
parent_col2.extend(['is_software', 'is_web', 'is_mobile', 'is_enterprise', 'is_advertising',
       'is_games_video', 'is_ecommerce', 'is_biotech', 'is_consulting'])

cb_main2 = cb_main_dum[parent_col2]
cb_main2

,name,state_code,city,founded_at,first_funding_at,last_funding_at,funding_rounds,funding_total_usd,category_code,status,is_software,is_web,is_mobile,is_enterprise,is_advertising,is_games_video,is_ecommerce,is_biotech,is_consulting
permalink,,,,,,,,,,,,,,,,,,,
/company/0xdata,0xdata,CA,Mountain View,NaN,2013-01-03,2013-01-03,1,1700000,analytics,operating,0,0,0,0,0,0,0,0,0
/company/1,One Inc.,CA,San Francisco,2011-08-01,2011-07-20,2011-07-20,1,1000050,mobile,operating,0,0,1,0,0,0,0,0,0
/company/1,One Inc.,CA,San Francisco,2011-08-01,2011-07-20,2011-07-20,1,1000050,mobile,operating,0,0,1,0,0,0,0,0,0
/company/1,One Inc.,CA,San Francisco,2011-08-01,2011-07-20,2011-07-20,1,1000050,mobile,operating,0,0,1,0,0,0,0,0,0
/company/1,One Inc.,CA,San Francisco,2011-08-01,2011-07-20,2011-07-20,1,1000050,mobile,operating,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
/company/zyngenia,Zyngenia,MD,Gaithersburg,2008-01-01,2010-09-09,2010-09-09,1,25000000,biotech,operating,0,0,0,0,0,0,0,1,0
/company/zyomyx-inc,ZYOMYX,NaN,Fremont,NaN,2013-06-30,2013-07-11,2,26219999,biotech,operating,0,0,0,0,0,0,0,1,0
/company/zyomyx-inc,ZYOMYX,NaN,Fremont,NaN,2013-06-30,2013-07-11,2,26219999,biotech,operating,0,0,0,0,0,0,0,1,0
/company/zypsee,Zypsee,CT,Stamford,2011-01-01,2013-08-13,2013-08-13,1,1400000,transportation,operating,0,0,0,0,0,0,0,0,0
/company/zyrra,Zyrra,MA,Cambridge,NaN,2010-11-15,2012-10-18,3,1460500,ecommerce,operating,0,0,0,0,0,0,1,0,0

In [96]:
cat_list = ['software', 'web', 'mobile', 'enterprise', 'advertising',
       'games_video', 'ecommerce', 'biotech', 'consulting']

In [97]:
cb_main3 = cb_main2.copy()
cb_main3["is_othercategory"] = (~cb_main2["category_code"].isin(cat_list)) *1

cb_main3

,name,state_code,city,founded_at,first_funding_at,last_funding_at,funding_rounds,funding_total_usd,category_code,status,is_software,is_web,is_mobile,is_enterprise,is_advertising,is_games_video,is_ecommerce,is_biotech,is_consulting,is_othercategory
permalink,,,,,,,,,,,,,,,,,,,,
/company/0xdata,0xdata,CA,Mountain View,NaN,2013-01-03,2013-01-03,1,1700000,analytics,operating,0,0,0,0,0,0,0,0,0,1
/company/1,One Inc.,CA,San Francisco,2011-08-01,2011-07-20,2011-07-20,1,1000050,mobile,operating,0,0,1,0,0,0,0,0,0,0
/company/1,One Inc.,CA,San Francisco,2011-08-01,2011-07-20,2011-07-20,1,1000050,mobile,operating,0,0,1,0,0,0,0,0,0,0
/company/1,One Inc.,CA,San Francisco,2011-08-01,2011-07-20,2011-07-20,1,1000050,mobile,operating,0,0,1,0,0,0,0,0,0,0
/company/1,One Inc.,CA,San Francisco,2011-08-01,2011-07-20,2011-07-20,1,1000050,mobile,operating,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
/company/zyngenia,Zyngenia,MD,Gaithersburg,2008-01-01,2010-09-09,2010-09-09,1,25000000,biotech,operating,0,0,0,0,0,0,0,1,0,0
/company/zyomyx-inc,ZYOMYX,NaN,Fremont,NaN,2013-06-30,2013-07-11,2,26219999,biotech,operating,0,0,0,0,0,0,0,1,0,0
/company/zyomyx-inc,ZYOMYX,NaN,Fremont,NaN,2013-06-30,2013-07-11,2,26219999,biotech,operating,0,0,0,0,0,0,0,1,0,0
/company/zypsee,Zypsee,CT,Stamford,2011-01-01,2013-08-13,2013-08-13,1,1400000,transportation,operating,0,0,0,0,0,0,0,0,0,1
/company/zyrra,Zyrra,MA,Cambridge,NaN,2010-11-15,2012-10-18,3,1460500,ecommerce,operating,0,0,0,0,0,0,1,0,0,0

In [98]:
cb_main3.columns

Index(['name', 'state_code', 'city', 'founded_at', 'first_funding_at',
       'last_funding_at', 'funding_rounds', 'funding_total_usd',
       'category_code', 'status', 'is_software', 'is_web', 'is_mobile',
       'is_enterprise', 'is_advertising', 'is_games_video', 'is_ecommerce',
       'is_biotech', 'is_consulting', 'is_othercategory'],
      dtype='object')

In [99]:
# Renaming columns to fit the parent dataframe
cb_main3.rename(columns = {"is_games_video": "is_gamesvideo",
                }, inplace=True)

In [100]:
cb_main3.head()

,name,state_code,city,founded_at,first_funding_at,last_funding_at,funding_rounds,funding_total_usd,category_code,status,is_software,is_web,is_mobile,is_enterprise,is_advertising,is_gamesvideo,is_ecommerce,is_biotech,is_consulting,is_othercategory
permalink,,,,,,,,,,,,,,,,,,,,
/company/0xdata,0xdata,CA,Mountain View,NaN,2013-01-03,2013-01-03,1,1700000,analytics,operating,0,0,0,0,0,0,0,0,0,1
/company/1,One Inc.,CA,San Francisco,2011-08-01,2011-07-20,2011-07-20,1,1000050,mobile,operating,0,0,1,0,0,0,0,0,0,0
/company/1,One Inc.,CA,San Francisco,2011-08-01,2011-07-20,2011-07-20,1,1000050,mobile,operating,0,0,1,0,0,0,0,0,0,0
/company/1,One Inc.,CA,San Francisco,2011-08-01,2011-07-20,2011-07-20,1,1000050,mobile,operating,0,0,1,0,0,0,0,0,0,0
/company/1,One Inc.,CA,San Francisco,2011-08-01,2011-07-20,2011-07-20,1,1000050,mobile,operating,0,0,1,0,0,0,0,0,0,0

# Addressing Missing Values

In [101]:
cb_main3.isna().sum()

name                    0
state_code            491
city                  532
founded_at           7644
first_funding_at        0
last_funding_at         0
funding_rounds          0
funding_total_usd    2088
category_code         642
status                  0
is_software             0
is_web                  0
is_mobile               0
is_enterprise           0
is_advertising          0
is_gamesvideo           0
is_ecommerce            0
is_biotech              0
is_consulting           0
is_othercategory        0
dtype: int64

In [102]:
cb_main3.shape

(52868, 20)

In [103]:
cb_main3.dropna(axis = 0, inplace=True)

In [104]:
cb_main3.shape

(42802, 20)

# Merging the Data Sets

In [105]:
parent_col2.extend(["is_othercategory"])

parent_col2 = ["is_gamesvideo" if x  == "is_games_video" else x for x in parent_col2]
parent_col2

['name',
 'state_code',
 'city',
 'founded_at',
 'first_funding_at',
 'last_funding_at',
 'funding_rounds',
 'funding_total_usd',
 'category_code',
 'status',
 'is_software',
 'is_web',
 'is_mobile',
 'is_enterprise',
 'is_advertising',
 'is_gamesvideo',
 'is_ecommerce',
 'is_biotech',
 'is_consulting',
 'is_othercategory']

In [106]:
startup[parent_col2].isna().sum()

name                 0
state_code           0
city                 0
founded_at           0
first_funding_at     0
last_funding_at      0
funding_rounds       0
funding_total_usd    0
category_code        0
status               0
is_software          0
is_web               0
is_mobile            0
is_enterprise        0
is_advertising       0
is_gamesvideo        0
is_ecommerce         0
is_biotech           0
is_consulting        0
is_othercategory     0
dtype: int64

In [107]:
cb_main3.isna().sum()

name                 0
state_code           0
city                 0
founded_at           0
first_funding_at     0
last_funding_at      0
funding_rounds       0
funding_total_usd    0
category_code        0
status               0
is_software          0
is_web               0
is_mobile            0
is_enterprise        0
is_advertising       0
is_gamesvideo        0
is_ecommerce         0
is_biotech           0
is_consulting        0
is_othercategory     0
dtype: int64

In [108]:
main_df = pd.concat([cb_main3,startup[parent_col2]])
main_df

,name,state_code,city,founded_at,first_funding_at,last_funding_at,funding_rounds,funding_total_usd,category_code,status,is_software,is_web,is_mobile,is_enterprise,is_advertising,is_gamesvideo,is_ecommerce,is_biotech,is_consulting,is_othercategory
/company/1,One Inc.,CA,San Francisco,2011-08-01,2011-07-20,2011-07-20,1,1000050,mobile,operating,0,0,1,0,0,0,0,0,0,0
/company/1,One Inc.,CA,San Francisco,2011-08-01,2011-07-20,2011-07-20,1,1000050,mobile,operating,0,0,1,0,0,0,0,0,0,0
/company/1,One Inc.,CA,San Francisco,2011-08-01,2011-07-20,2011-07-20,1,1000050,mobile,operating,0,0,1,0,0,0,0,0,0,0
/company/1,One Inc.,CA,San Francisco,2011-08-01,2011-07-20,2011-07-20,1,1000050,mobile,operating,0,0,1,0,0,0,0,0,0,0
/company/1,One Inc.,CA,San Francisco,2011-08-01,2011-07-20,2011-07-20,1,1000050,mobile,operating,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
918,CoTweet,CA,San Francisco,1/1/2009,7/9/2009,7/9/2009,1,1100000,advertising,acquired,0,0,0,0,1,0,0,0,0,0
919,Reef Point Systems,MA,Burlington,1/1/1998,4/1/2005,3/23/2007,3,52000000,security,closed,0,0,0,0,0,0,0,0,0,1
920,Paracor Medical,CA,Sunnyvale,1/1/1999,6/29/2007,6/29/2007,1,44000000,biotech,closed,0,0,0,0,0,0,0,1,0,0
921,Causata,CA,San Francisco,1/1/2009,10/5/2009,11/1/2011,2,15500000,software,acquired,1,0,0,0,0,0,0,0,0,0
922,Asempra Technologies,CA,Santa Clara,1/1/2003,2/13/2006,2/13/2006,1,20000000,security,acquired,0,0,0,0,0,0,0,0,0,1

In [109]:
main_df.isna().sum()

name                 0
state_code           0
city                 0
founded_at           0
first_funding_at     0
last_funding_at      0
funding_rounds       0
funding_total_usd    0
category_code        0
status               0
is_software          0
is_web               0
is_mobile            0
is_enterprise        0
is_advertising       0
is_gamesvideo        0
is_ecommerce         0
is_biotech           0
is_consulting        0
is_othercategory     0
dtype: int64

In [110]:
main_df.columns

Index(['name', 'state_code', 'city', 'founded_at', 'first_funding_at',
       'last_funding_at', 'funding_rounds', 'funding_total_usd',
       'category_code', 'status', 'is_software', 'is_web', 'is_mobile',
       'is_enterprise', 'is_advertising', 'is_gamesvideo', 'is_ecommerce',
       'is_biotech', 'is_consulting', 'is_othercategory'],
      dtype='object')

In [111]:
main_df.sort_values("name", inplace=True)

In [112]:
main_df.drop_duplicates(subset = "name", ignore_index = True, keep = "last", inplace=True)
main_df

,name,state_code,city,founded_at,first_funding_at,last_funding_at,funding_rounds,funding_total_usd,category_code,status,is_software,is_web,is_mobile,is_enterprise,is_advertising,is_gamesvideo,is_ecommerce,is_biotech,is_consulting,is_othercategory
0,#waywire,NY,New York,2012-06-01,2012-06-30,2012-06-30,1,1750000,news,operating,0,0,0,0,0,0,0,0,0,1
1,1000memories,CA,San Francisco,2010-07-01,2010-01-01,2011-02-16,2,2535000,web,acquired,0,1,0,0,0,0,0,0,0,0
2,100Plus,CA,San Francisco,2011-09-16,2011-11-02,2011-11-30,2,1250000,analytics,acquired,0,0,0,0,0,0,0,0,0,1
3,1010data,NY,New York,2000-01-01,2010-03-08,2010-03-08,1,35000000,software,operating,1,0,0,0,0,0,0,0,0,0
4,121nexus,RI,Providence,2011-10-07,2012-02-06,2013-07-01,4,719000,software,operating,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8064,y prime,PA,Malvern,2006-01-01,2013-09-07,2013-09-07,1,5000000,health,operating,0,0,0,0,0,0,0,0,0,1
8065,yaM Labs,VA,Alexandria,2009-12-03,2011-03-02,2011-03-02,1,500000,software,operating,1,0,0,0,0,0,0,0,0,0
8066,ybuy,CA,Beverly Hills,2011-08-01,2012-01-17,2012-07-05,2,1750000,web,operating,0,1,0,0,0,0,0,0,0,0
8067,zozi,CA,San Francisco,2007-01-01,2008-08-01,2013-04-04,4,21300000,ecommerce,operating,0,0,0,0,0,0,1,0,0,0
8068,zulily,WA,Seattle,2009-10-01,2009-12-17,2012-11-15,4,138600000,ecommerce,operating,0,0,0,0,0,0,1,0,0,0

# To perform the merging:
- I had to identify the common columns that could be found in the uncleaned crunchbase data. See main_df.columns
    - The columns that are notably left out are: relationships, milestones, age_first_funding_years, age_last_funding_years, is_top500
        - We can engineer our own age variables if we choose.
    - The other useless columns like state_code, latitude, longitude, zip_code are not worth noting because they shouldn't be part of the model anyway. We have the state_code, which should imply we don't need further granularity for location.

- The uncleaned crunchbase data is merged using crunchbase-companies.csv and crunchbase-investments.csv. Note: There are duplicate entries for crunchbase-investments.csv, since one company can receive multiple investments.
    - After merging and creating dummies, I sort by name and drop all duplicated rows, losing information about repeated investments in the process.